h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.page {
  padding: 24px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

button {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
}

select {
  margin: 0;
}
